body::-webkit-scrollbar {
  height: 0.5em;
  display: none;
}

body {
  padding-bottom: 0.5em;
  overflow-x: scroll;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

:root {
  --dark-bg: rgba(0, 38, 121, 0.315);
  --spacing: 350px;

  font-family: free, monospace;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  h1#typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(0, 162, 255);
    white-space: nowrap;
    animation: typing 5s steps(18, end), blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: rgb(0, 162, 255); }
  }


  @media (max-width: 1570px) {
    h1#typewriter {
      overflow: visible;
      border-right: none;
      white-space: normal;
      animation: none;
    }
  }

  @media (max-width: 890px) {
    main {
      padding: 80px 0px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
  
    header {
      font-size: 2rem; 
      padding: 1.5rem; 
      text-align: center;
    }
  
    section {
      font-size: 1rem; 
      padding: 0.75rem; 
      margin-bottom: 200px; 
      text-align: center;
    }
  
    blockquote {
      margin-bottom: 200px; 
      text-align: center;
    }
  
    blockquote p {
      font-size: 2.5rem; 
      text-align: center;
    }
  
    .left {
      grid-column: 2 / span 12; 
      text-align: center;
    }

  }